**/__pycache__/*
*.pyc
*.egg-info/*
*.zip
/build/*
/dist/*
/ui/public/*

!/tests/fixtures/*.zip

.env

/analysis/lib/*.c
/analysis/lib/*.so

/source_data/ARCHIVE*
/source_data/blueprint/*
/source_data/boundaries/*
/source_data/nlcd/*
/source_data/protected_areas/*
/source_data/slr/*
/source_data/urban/*
/source_data/summary_units/*
/source_data/wildfire_risk/*
!/source_data/**/README.md

/data/*
/examples/*
/tiles/*

/scratch/*

!/data/for_tiles
/data/for_tiles/*
!/data/for_tiles/layers.csv


