[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
cython = "*"
flake8 = "*"
pylint = "*"
raster-tilecutter = {editable = true,path = "./../raster-tilecutter"}
watchgod = "*"

[packages]
affine = "*"
aiofiles = "*"
arq = "*"
fastapi = "*"
geopandas = "*"
httpx = "*"
jinja2 = "*"
numpy = "*"
pandas = "*"
pillow = "*"
progress = "*"
pyogrio = {editable = true,path = "./../pyogrio"}
python-dotenv = "*"
python-multipart = "*"
rasterio = "==1.2.10"
sentry-sdk = "*"
uvicorn = "*"
weasyprint = "*"
pygeos = "*"
pyarrow = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
